# Aux files of python and virtual env
.ipynb_checkpoints/
.DS_Store
.venv/
venv/
*/*psycopg*
__pycache__/
litter-logo-lambda/python

# Secrets
cdk.out/
cdk.json
login_config_awsrds.json


# Folders with datasets
boxes/
random_test_dataset/
branded/
sample_images/

# Models
evaluate_models/models/